.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave.fade-leave-active{
    transform: translate(-1500%);
    transition: transform 6000ms ease-out;
}

.button_add {
    margin-top: 18%;
    margin-left: 85%;
    position: fixed;
}

.btn-circle.btn-lg{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 50%;
    outline: 0px !important;
}

.button_space {
    padding-right: 30px;
}